---
- name: 'TERMINATOR : install terminator'
  ansible.builtin.apt:
    name: terminator
  become: true

- name: 'TERMINATOR : change config file'
  ansible.builtin.copy:
    src: 'files/terminator/config'
    dest: '{{ ansible_env.HOME }}/.config/terminator/'
    mode: '0644'
